.DS_Store

application/config/development/*
application/config/database.php
application/config/sembilantani-firebase-adminsdk-ggtio-97927c5ee7.json
application/cache/*
!application/cache/index.html
system/*
vendor/*
.vscode/*

application/config/config.php
application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
